
:root {
    --couleur-fond: #050816;
    --couleur-prim: #8b5cf6;
    --couleur-sec: #a78bfa;
    --texte-clair: #f9fafb;
    --texte-muted: #9ca3af;
    --ombre: 0 15px 30px rgba(0, 0, 0, 0.6);
    --arrondi: 16px;
    --transition: .4s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: var(--texte-clair);
    background: radial-gradient(circle at top, #1e293b 0%, #020617 70%, #000000 100%);
}


header,
#bio,
#clubs,
#palmares,
#moments,
#galerie {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 20vh 1fr;
}


.section-content {
    padding: 2rem 6%;
}


.border {
    border-radius: 12px;
    border: 2px solid var(--couleur-prim);
}

.border2 {
    border-radius: 16px;
    border: 3px solid var(--couleur-sec);
}

.shadow {
    box-shadow: var(--ombre);
}


@media(max-width: 900px) {
    html, body {
        overflow-y: auto;
    }
    header,
    #bio,
    #clubs,
    #palmares,
    #moments,
    #galerie {
        height: auto;
        min-height: 100vh;
        grid-template-rows: 15vh auto;
    }
}
